.slider{
  --bar-bg: #868686;
  --seek-before-width: 0;
  -webkit-appearance: none;
  position: relative;
  background: var(--bar-bg);
  height: 4px; 
  border-radius: 5px;
width: 100%;
cursor: pointer;
}

.slider::-webkit-slider-runnable-track{
  height: 4px;
}
.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 14px; height: 14px;
  margin-top: -5px;
  border-radius: 50%;
   background-color: rgb(135, 135, 135);
  color: #808080;
}
.slider::before{
  content: '';
  height: 4px;
  width: var(--seek-before-width);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}